body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 30px auto; /* Adjust margin for spacing */
}

.main {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Adjust margin for spacing */
}

.topbar {
    background-color: teal;
    overflow: hidden;
    margin-bottom: 20px; /* Adjust margin for spacing */
}

.topbar a {
    float: right;
    color: whitesmoke;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease; /* Add transition for smooth effect */
}

.topbar a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Change background color on hover */
    border-radius: 3px; /* Add rounded corners on hover */
    transform: translateY(-2px); /* Move the button slightly upwards on hover */
}

.table-container {
    margin-top: 20px; /* Adjust margin for spacing */
}

.table-container table {
    width: 100%; /* Set table width to 100% */
    table-layout: fixed; /* Use fixed layout for consistent cell widths */
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    width: 33%; /* Set fixed width for each cell */
    word-wrap: break-word; /* Allow long words to break and wrap */
}

th {
    background-color: #f2f2f2;
}
.topbar a.active {
    background-color: #0f0606; /* Change background color to darken */
}

.blank-line {
    margin-bottom: 20px; 
    height: 20px; 
}

.submit{
    color: #fff;
    background-color: teal;
}

.day{
    font-size: 20px;
    font-weight: bold;
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}