* 
{
    margin: 0px;
    padding: 0px;
    font-family: Century;
}

header 
{
    background-image: url(../images/background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

ul
{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}

ul li 
{
    display: inline-block;  
}

ul li a 
{
    text-decoration: none;
    color: #000000;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover 
{
    background-color: #000000;
    color: #fff;
}

ul li.active a 
{
    background-color: #000000;
    color:#fff
}

.logo img 
{
    float: left;
    width: 150px;
    height: auto;
}

.main 
{
    max-width: 1500px;
    margin: auto;
}

.title 
{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.title h1 
{
    color: #000000;
    font-size: 70px;
}

.button 
{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.btn
{
    border: 1px solid #000000;
    padding: 5px 20px;
    color:#000000;
    transition: 0.5 ease;
    font-size: 18px;
    text-decoration: none;
}

.btn:hover
{
    background-color: #000000;
    color:#fff;
}

.center{
    display: flex;
    justify-content: center;
    height: 30rem;
    font-family: "Segoe UI", "Tahoma", Geneva, Verdana, sans-serif;
}

.Login{
    border: 1px solid #000000;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    width: 27rem;
    height: 37rem;
    overflow: hidden;
    margin-top: 8rem;
}

.form{
    display: grid;
    place-content: center;
    box-sizing: border-box;
    background-image: url(../images/image.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    display: grid;
    place-content: center;
    margin-top: -5rem;
    font-size: 2.5rem;
    margin-bottom: 75px;
    color: #fff;
}

input{
    background: transparent;
    width: 18rem;
    height: 1.5rem;
    font-size: 0.9rem;
    border: 2px #fff;
    border-radius: 1rem;
    padding: 5px;
}

::placeholder{
    color: black;
    padding: 4px;
}



label{
    font-size: 1.3rem;
    padding: 0.3rem;
    color: #fff;
    font-weight: bold;
}

button{
    margin-top: 2rem;
    width: 19rem;
    height: 2.4rem;
    font-weight: bold;
    border: #fff;
    border-radius: 1rem;
    font-size: 1rem;
    background-color: #fff;
    color: #000000;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(76,76,76,0.75);
}

p{
    margin: 0.1rem 0 - 1rem 0;
    padding: 0.3rem;
    color: #fff;
}

a{
    cursor: pointer;
    font-weight: bold;
    color: #fff;
}

.bxs-user{
    display: block;
    position: absolute;
    padding: 210px 0 0 367px;
    color: #fff;
    pointer-events: none;
}

.bxs-lock-alt{
    display: block;
    position: absolute;
    padding: 290px 0 0 367px;
    color: #fff;
    pointer-events: none;
}