<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/aboutus.css">
    <title>MācībuVide</title>
</head>
    <body>
        <div class="about-section">
            <div class="inner-container">
            <h1>About Us</h1>
            <h3>We are Rigas Valsts tehnikums, students: Reinis and Emils</h3>
            <p>School websites are used by a lot of schools, and in modern day are really popular. In our opinion our schools website - mykoob is really underdeveloped, and should be updated. So we thought why wouldn't we try to make our own website and see if it is hard.</p>
            <div class="skills">
            <h3>Skills we used:</h3>
            <span>Web Design</span>
            <span>Photoshopp & Illustrator</span>
            <span>Coding</span>
            </div>
        </div>
    </div>
</body>
</html>