<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contactus.css">
    <title>MācībuVide</title>
</head>
<body> 
    <style>
        body 
        {
            background-image: url('/images/background.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</body>
<body>
    <div class="container">
        <form action="/ContactMail" method="post">
            <h1>Contact Us Form</h1>
            <input name="name" type="text" id="firstName" placeholder="First Name" required>
            
            <input name="email" type="email" id="email" placeholder="Email" required>
            <input name="number" type="text" id="mobile" placeholder="Mobile" required>
            <h4>Type Your Message Here...</h4>
            <textarea name="text" required></textarea>
            <input type="submit" value="Send" id="button">
        </form>
    </div>
</body>
</html>