<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MācībuVide</title>
    <link rel="stylesheet" href="css/support.css">
</head>
<body>

<div class="container">
    <div class="main">
        <form class="topbar">
            <a href="/logout">Logout</a>
            <a href="/support">Support</a>
            <a href="/lessons">Lessons</a>
            <span th:if="${role != 'MacibuDala'}">
                <a href="/grades">Grades</a>
            </span>
            <a href="/profile">Profile</a>
            <span th:if="${role == 'MacibuDala'}">
                <a href="/lessonManager">Lesson Manager</a>
            </span>
            <span th:if="${role == 'MacibuDala'}">
                <a href="/deleteUser" class="active">Delete User</a>
            </span>

        </form>
        <div class="table-container">
            <form action="/deleteUser" method="post" class="delete-form">
                <input type="email" name="userEmail" placeholder="Enter user's email" required>
                <button type="submit">Delete User</button>
                <p style="color: green;" th:if="${success}" th:text="${success}"></p>
                <p style="color: red;" th:if="${error}" th:text="${error}"></p>
            </form>
        </div>
    </div>
</div>

</body>
</html>
