<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MācībuVide</title>
    <link rel="stylesheet" href="css/forgotpassword.css">
</head>
<body>
    <div class="form-container">
        <form class="form-wrap" action="/forgotPassword" method="post">
            <h2>Forgot Password</h2>
            <div class="form-box">
                <input name = "email" type="email" placeholder="Enter Email" required>
            </div>
            <br>
            <p style="color: red;" th:if="${error}" th:text="${error}"></p>
            <div class="form-submit">
                <input type="submit" value="Send">
            </div>
        </form>
    </div>
</body>
</html>
