<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson List</title>
    <link rel="stylesheet" href="css/support.css">
</head>
<body>

<div class="container">
    <div class="main">
        <form class="topbar">
            <a href="/logout">Logout</a>
            <a href="/support">Support</a>
            <a href="/lessons">Lessons</a>
            <a href="/grades" class="active">Grades</a>
            <a href="/profile">Profile</a>
            <span th:if="${role == 'MacibuDala'}">
                <a href="/lessonManager">Lesson Manager</a>
            </span>

        </form>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Lesson</th>
                        <th>Grade 1</th>
                        <th>Grade 2</th>
                        <th>Grade 3</th>
                        <th>Grade 4</th>
                        <th>Grade 5</th>
                        <th style="background-color: teal;">Average</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Science</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Mathematics</td>
                        <td th:if="${Math1 != -1}" th:text="${Math1}"></td>
                        <td th:if="${Math1 == -1}"></td>

                        <td th:if="${Math2 != -1}" th:text="${Math2}"></td>
                        <td th:if="${Math2 == -1}"></td>

                        <td th:if="${Math3 != -1}" th:text="${Math3}"></td>
                        <td th:if="${Math3 == -1}"></td>

                        <td th:if="${Math4 != -1}" th:text="${Math4}"></td>
                        <td th:if="${Math4 == -1}"></td>

                        <td th:if="${Math5 != -1}" th:text="${Math5}"></td>
                        <td th:if="${Math5 == -1}"></td>

                        <th th:text="${MathAverage}"></th>

    
                    </tr>
                    <tr>
                        <td>History</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th></th>
                    </tr>
                    <tr>
                        <td>English</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Sport</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Computer Science</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
