<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MācībuVide</title>
    <link rel="stylesheet" href="css/support.css">
</head>
<body>

<div class="container">
    <div class="main">
        <form class="topbar">
            <a href="/logout">Logout</a>
            <a href="/support">Support</a>
            <a href="/lessons">Lessons</a>
            <span th:if="${role != 'MacibuDala'}">
                <a href="/grades" class="active">Grades</a>
            </span>
            <a href="/profile">Profile</a>
            <span th:if="${role == 'MacibuDala'}">
                <a href="/lessonManager">Lesson Manager</a>
            </span>
            <span th:if="${role == 'MacibuDala'}">
                <a href="/deleteUser">Delete User</a>
            </span>

        </form>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Lesson</th>
                        <th>Grade 1</th>
                        <th>Grade 2</th>
                        <th>Grade 3</th>
                        <th>Grade 4</th>
                        <th>Grade 5</th>
                        <th style="background-color: teal;">Average</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Science</td>
                        <td th:if="${Science1 != -1}" th:text="${Science1}"></td>
                        <td th:if="${Science1 == -1}"></td>

                        <td th:if="${Science2 != -1}" th:text="${Science2}"></td>
                        <td th:if="${Science2 == -1}"></td>

                        <td th:if="${Science3 != -1}" th:text="${Science3}"></td>
                        <td th:if="${Science3 == -1}"></td>

                        <td th:if="${Science4 != -1}" th:text="${Science4}"></td>
                        <td th:if="${Science4 == -1}"></td>

                        <td th:if="${Science5 != -1}" th:text="${Science5}"></td>
                        <td th:if="${Science5 == -1}"></td>

                        <th th:text="${ScienceAverage}"></th>
                    </tr>
                    <tr>
                        <td>Mathematics</td>
                        <td th:if="${Math1 != -1}" th:text="${Math1}"></td>
                        <td th:if="${Math1 == -1}"></td>

                        <td th:if="${Math2 != -1}" th:text="${Math2}"></td>
                        <td th:if="${Math2 == -1}"></td>

                        <td th:if="${Math3 != -1}" th:text="${Math3}"></td>
                        <td th:if="${Math3 == -1}"></td>

                        <td th:if="${Math4 != -1}" th:text="${Math4}"></td>
                        <td th:if="${Math4 == -1}"></td>

                        <td th:if="${Math5 != -1}" th:text="${Math5}"></td>
                        <td th:if="${Math5 == -1}"></td>

                        <th th:text="${MathAverage}"></th>

    
                    </tr>
                    <tr>
                        <td>History</td>
                        <td th:if="${History1 != -1}" th:text="${History1}"></td>
                        <td th:if="${History1 == -1}"></td>

                        <td th:if="${History2 != -1}" th:text="${History2}"></td>
                        <td th:if="${History2 == -1}"></td>

                        <td th:if="${History3 != -1}" th:text="${History3}"></td>
                        <td th:if="${History3 == -1}"></td>

                        <td th:if="${History4 != -1}" th:text="${History4}"></td>
                        <td th:if="${History4 == -1}"></td>

                        <td th:if="${History5 != -1}" th:text="${History5}"></td>
                        <td th:if="${History5 == -1}"></td>

                        <th th:text="${HistoryAverage}"></th>
                    </tr>
                    <tr>
                        <td>English</td>
                        <td th:if="${English1 != -1}" th:text="${English1}"></td>
                        <td th:if="${English1 == -1}"></td>

                        <td th:if="${English2 != -1}" th:text="${English2}"></td>
                        <td th:if="${English2 == -1}"></td>

                        <td th:if="${English3 != -1}" th:text="${English3}"></td>
                        <td th:if="${English3 == -1}"></td>

                        <td th:if="${English4 != -1}" th:text="${English4}"></td>
                        <td th:if="${English4 == -1}"></td>

                        <td th:if="${English5 != -1}" th:text="${English5}"></td>
                        <td th:if="${English5 == -1}"></td>

                        <th th:text="${EnglishAverage}"></th>
                    </tr>
                    <tr>
                        <td>Sport</td>
                        <td th:if="${Sport1 != -1}" th:text="${Sport1}"></td>
                        <td th:if="${Sport1 == -1}"></td>

                        <td th:if="${Sport2 != -1}" th:text="${Sport2}"></td>
                        <td th:if="${Sport2 == -1}"></td>

                        <td th:if="${Sport3 != -1}" th:text="${Sport3}"></td>
                        <td th:if="${Sport3 == -1}"></td>

                        <td th:if="${Sport4 != -1}" th:text="${Sport4}"></td>
                        <td th:if="${Sport4 == -1}"></td>

                        <td th:if="${Sport5 != -1}" th:text="${Sport5}"></td>
                        <td th:if="${Sport5 == -1}"></td>

                        <th th:text="${SportAverage}"></th>
                    </tr>
                    <tr>
                        <td>Computer Science</td>
                        <td th:if="${Computer1 != -1}" th:text="${Computer1}"></td>
                        <td th:if="${Computer1 == -1}"></td>

                        <td th:if="${Computer2 != -1}" th:text="${Computer2}"></td>
                        <td th:if="${Computer2 == -1}"></td>

                        <td th:if="${Computer3 != -1}" th:text="${Computer3}"></td>
                        <td th:if="${Computer3 == -1}"></td>

                        <td th:if="${Computer4 != -1}" th:text="${Computer4}"></td>
                        <td th:if="${Computer4 == -1}"></td>

                        <td th:if="${Computer5 != -1}" th:text="${Computer5}"></td>
                        <td th:if="${Computer5 == -1}"></td>

                        <th th:text="${ComputerAverage}"></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>
