<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson List</title>
    <link rel="stylesheet" href="css/support.css">
</head>
<body>

<div class="container">
    <div class="main">
        <form class="topbar">
            <a href="/logout">Logout</a>
            <a href="/support">Support</a>
            <a href="/lessons">Lessons</a>
            <a href="/grades" class ="active">Grades</a>
            <a href="/profile">Profile</a>
            <span th:if="${role == 'MacibuDala'}">
                <a href="/lessonManager">Lesson Manager</a>
            </span>
        
        </form>
        <div class="table-container">
            <form action="" method="GET">
                <label for="Group">Group:</label><br>
                <input list="groups" name="Group" id="Group">
                <datalist id="groups">
                    <option value="DP1-1">
                    <option value="DP1-2">
                    <option value="DP1-3">
                    <option value="DP1-4">
                </datalist>
                <input class="submit" type="submit" value="Submit">
                <br><br>
                <div class="Group"><p th:text="${group}"></p><div class="Subject"><p th:text="${subject}"></p></div></div><br><br>
            </form>
            <span th:if="${subject == 'Mathematics'}">
                <div class="grade-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>Name and surname</th>
                                <th>Grade 1</th>
                                <th>Grade 2</th>
                                <th>Grade 3</th>
                                <th>Grade 4</th>
                                <th>Grade 5</th>
                                <th style="background-color: teal;">Average</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.</td>
                                <td><p th:text="${FullName1}"></p></td>

                                <td th:if="${Grade11 == -1}"><input type="number" min="1" max="10" id ="Grade11" name = "Grade11"></td>
                                <td th:if="${Grade11 != -1}" th:text="${Grade11}"></td>
                                
                                <td th:if="${Grade21 == -1}"><input type="number" min="1" max="10" id ="Grade21" name = "Grade21"></td>
                                <td th:if="${Grade21 != -1}" th:text="${Grade21}"></td>

                                <td th:if="${Grade31 == -1}"><input type="number" min="1" max="10" id ="Grade31" name = "Grade31"></td>
                                <td th:if="${Grade31 != -1}" th:text="${Grade31}"></td>

                                <td th:if="${Grade41 == -1}"><input type="number" min="1" max="10" id ="Grade41" name = "Grade41"></td>
                                <td th:if="${Grade41 != -1}" th:text="${Grade41}"></td>

                                <td th:if="${Grade51 == -1}"><input type="number" min="1" max="10" id ="Grade51" name = "Grade51"></td>
                                <td th:if="${Grade51 != -1}" th:text="${Grade51}"></td>

                                <th th:text="${Average1}"></th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>2.</td>
                                <td><p th:text="${FullName2}"></p></td>

                                <td th:if="${Grade12 == -1}"><input type="number" min="1" max="10" id ="Grade12" name = "Grade12"></td>
                                <td th:if="${Grade12 != -1}" th:text="${Grade12}"></td>
                                
                                <td th:if="${Grade22 == -1}"><input type="number" min="1" max="10" id ="Grade22" name = "Grade22"></td>
                                <td th:if="${Grade22 != -1}" th:text="${Grade22}"></td>

                                <td th:if="${Grade32 == -1}"><input type="number" min="1" max="10" id ="Grade32" name = "Grade32"></td>
                                <td th:if="${Grade32 != -1}" th:text="${Grade32}"></td>

                                <td th:if="${Grade42 == -1}"><input type="number" min="1" max="10" id ="Grade42" name = "Grade42"></td>
                                <td th:if="${Grade42 != -1}" th:text="${Grade42}"></td>

                                <td th:if="${Grade52 == -1}"><input type="number" min="1" max="10" id ="Grade52" name = "Grade52"></td>
                                <td th:if="${Grade52 != -1}" th:text="${Grade52}"></td>

                                <th th:text="${Average2}"></th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>3.</td>
                                <td><p th:text="${FullName3}"></p></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <th></th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>4.</td>
                                <td><p th:text="${FullName4}"></p></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <th></th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>5.</td>
                                <td><p th:text="${FullName5}"></p></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <th></th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>7.</td>
                                <td><p th:text="${FullName7}"></p></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <th></th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>8.</td>
                                <td><p th:text="${FullName8}"></p></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <th></th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>9.</td>
                                <td><p th:text="${FullName9}"></p></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <th></th>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>10.</td>
                                <td><p th:text="${FullName10}"></p></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <td><input type="number" min="1" max="10"></td>
                                <th></th>
                            </tr>
                        </tbody>
            </span>
            <span th:if="${subject == 'Science'}">
                asdfsadfsdf
            </span>
        </div>
    </div>
</div>

</body>
</html>

