<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson List</title>
    <link rel="stylesheet" href="css/support.css">
</head>
<body>

<div class="container">
    <div class="main">
        <form class="topbar">
            <a href="/logout">Logout</a>
            <a href="/support">Support</a>
            <a href="/lessons">Lessons</a>
            <a href="/grades" class ="active">Grades</a>
            <a href="/profile">Profile</a>
            <span th:if="${role == 'MacibuDala'}">
                <a href="/lessonManager">Lesson Manager</a>
            </span>

        </form>
        <div class="table-container">
            <span th:if="${subject == 'Mathematics'}">
                sdfsdfsdfsdf
            </span>
            <span th:if="${subject == 'Science'}">
                asdfsadfsdf
            </span>
        </div>
    </div>
</div>

</body>
</html>

