<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body >
    <div class = "form-container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <label for = "lietotajvards">E-pasts</label><br>
            <input type="text" id="lietotajvards" name="lietotajvards"><br>
            <br>

            <label for = "parole"> Parole </label><br>
            <input type = "password" id = "parole" name = "parole"><br>
            <br>

            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>