<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MācībuVide</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body> 
    <style>
        body 
        {
            background-image: url('/images/background.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</body>
<body class="center"> 
    <div class="Login">
        <form class="form" action="/login" method="post">
            <h1>Login</h1>
            <label>E-Mail</label>
            <input type="email" placeholder="E-mail" id="emails" name="emails" style="background-color: white;"><i class="bx bxs-user"></i><br>
            <label>Password</label>
            <input type="password" placeholder="Password" id = "parole" name = "parole" style="background-color: white;"><i class="bx bxs-lock-alt"></i><br>
            <p style="color: red;" th:if="${error}" th:text="${error}"></p>
            <p><a href="/forgotpassword">Forgot password?</a></p>
            <button type ="submit">LOGIN</button>
            <p>Don't have an account? <a href="/registration">Register</a></p>
        </form>
    </div>
</body>
</html>