<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>MācībuVide</title>
</head>
<body> 
    <header> 
        <div class="main">
            <dir class="logo">
                <img src="/images/logo-black.png">
            </dir> 


            <ul> 
                <li class="active"><a href="/Home">Home</a></li>
                <li><a href="/AboutUs">AboutUs</a></li>
                <li><a href="/ContactUs">Contact</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>News</h1>
        </div>
        <div class="button">
            <a href="/" class="btn">Achievements</a>
            <a href="/" class="btn">TOP students</a>
            <a href="/" class="btn">Learn more</a>
        </div>
    </header>
</body>
</html>
