<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/register.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body> 
    <style>
        body 
        {
            background-image: url('/images/background.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</body>
<body> 
    <div class="Registration">
       <form action="">
            <h1>Registration</h1>
            <div class="input-box">
                <div class="input-field">
                    <input type="text" placeholder="Full Name" style="background-color: white;" required>
                    <i class='bx bxs-user-circle'></i>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="UserName" style="background-color: white;" required>
                    <i class='bx bxs-user-circle'></i>
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    <input type="email" placeholder="Email" style="background-color: white;" required>
                    <i class='bx bxs-envelope' ></i>
                </div>
                <div class="input-field">
                    <input type="number" placeholder="Number" style="background-color: white;" required>
                    <i class='bx bxs-phone' ></i>
                </div>
            </div>
            <div class="input-box">
                <div class="input-field">
                    <input type="password" placeholder="Password" style="background-color: white;" required>
                    <i class='bx bxs-lock'></i>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Confirm Password" style="background-color: white;"  required>
                    <i class='bx bxs-lock'></i>
                </div>
            </div>

            <button type="submit" class="buttn">Register</button>
       </form>
    </div>
</body>
</html>