<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/role.css">
    <title>Role</title>
</head>
<body>
    <div class="container">
        <h1>CHOOSE YOUR ROLE</h1>
        <form action="/role" method="post" id="roleForm">
            <button class="button" type="submit" name="role" value="Student">Student</button>
            <button id="teacherButton" class="button" type="button" name="role" value="Teacher">Teacher</button>
            <button class="button" type="submit" name="role" value="EducationalDepartment">Educational department</button>
            
            <div id="teacherOptions" style="display: none;">
                <h2>Select Subject:</h2>
                <button name="subject" class="subjectButton" type="submit" value="Mathematics">Mathematics</button>
                <button name="subject" class="subjectButton" type="submit" value="Science">Science</button>
                <button name="subject" class="subjectButton" type="submit" value="History">History</button>
                <button name="subject" class="subjectButton" type="submit" value="English">English</button>
                <button name="subject" class="subjectButton" type="submit" value="Sport">Sport</button>
                <button name="subject" class="subjectButton" type="submit" value="ComputerScience">Computer Science</button>
                <input type="hidden" name="role" id="selectedRole">
            </div>
        </form>
    </div>

<script>
        document.getElementById("teacherButton").addEventListener("click", function() 
        {
        document.getElementById("teacherOptions").style.display = "block";
        document.getElementById("selectedRole").value = "Teacher";
        });
</script>

</body>
</html>
