<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/role.css">
    <title>Role</title>
</head>
<body>
    <div class="container">
        <h1>CHOOSE YOUR ROLE</h1>
        <form action="/role" method="post" id="roleForm">


            <button id = "studentButton"class="button" type="submit">Student</button>
            <button id="teacherButton" class="button" type="button">Teacher</button>
            <button id = "MacibuDalaButton" class="button" type="submit" >Educational department</button>
            <input type="hidden" name="role" id="selectedRole">

            <div id="teacherOptions" style="display: none;">
                <h2>Select Subject:</h2>
                <button class="subjectButton" type="submit" name="subject" value="Mathematics">Mathematics</button>
                <button class="subjectButton" type="submit" name="subject" value="Science">Science</button>
                <button class="subjectButton" type="submit" name="subject" value="History">History</button>
                <button class="subjectButton" type="submit" name="subject" value="English">English</button>
                <button class="subjectButton" type="submit" name="subject" value="Sport">Sport</button>
                <button class="subjectButton" type="submit" name="subject" value="ComputerScience">Computer Science</button>
            </div>
        </form>
    </div>

    <script>
        //Teacher
        document.getElementById("teacherButton").addEventListener("click", function() {
            document.getElementById("teacherOptions").style.display = "block";
            document.getElementById("selectedRole").value = "Teacher";
        });
        //Student
        document.getElementById("studentButton").addEventListener("click", function() {
            document.getElementById("selectedRole").value = "Student";
            document.getElementById("roleForm").submit();
        });
        //MacibuDala
        document.getElementById("MacibuDalaButton").addEventListener("click", function() {
            document.getElementById("selectedRole").value = "MacibuDala";
            document.getElementById("roleForm").submit();
        });

    </script>
    
    

</body>
</html>
