<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson List</title>
    <link rel="stylesheet" href="css/support.css">
</head>
<body>

<div class="container">
    <div class="main">
        <form class="topbar">
            <a href="/logout">Logout</a>
            <a href="/support">Support</a>
            <a href="/lessons">Lessons</a>
            <a href="/grades">Grades</a>
            <a href="/profile">Profile</a>
            <a href="/lessonManager" class="active">Lesson Manager</a>

        </form>
        <div class="options">
            <form action = "/lessonManager" method="post">
                
                Lesson 1<input list="subjects" name="lesson1" id="lesson1" ><br>
                Lesson 2<input list="subjects" name="lesson2" id="lesson2" ><br>
                Lesson 3<input list="subjects" name="lesson3" id="lesson3" ><br>
                Lesson 4<input list="subjects" name="lesson4" id="lesson4" ><br>
                Lesson 5<input list="subjects" name="lesson5" id="lesson5" ><br>
                Lesson 6<input list="subjects" name="lesson6" id="lesson6" ><br>
                Lesson 7<input list="subjects" name="lesson7" id="lesson7" ><br>
                Lesson 8<input list="subjects" name="lesson8" id="lesson8" ><br>
                Lesson 9<input list="subjects" name="lesson9" id="lesson9" ><br>
                Lesson 10<input list="subjects" name="lesson10" id="lesson10" ><br>
                Lesson 11<input list="subjects" name="lesson11" id="lesson11" ><br>
                Lesson 12<input list="subjects" name="lesson12" id="lesson12" ><br>


                <datalist id="subjects">
                    <option value="Mathematics">
                    <option value="Science">
                    <option value="History">
                    <option value="English">
                    <option value="Sport">
                    <option value="Computer Science">
                </datalist>
                <br>
                <label for="group">Group:</label><br>
                <input list="groups" name="schoolClass" id="schoolClass" required>

                <datalist id="groups">
                    <option value="DP1-1">
                    <option value="DP1-2">
                    <option value="DP1-3">
                    <option value="DP1-4">
                </datalist>
                <br>
                <label for="Day">Day:</label><br>
                <input list="days" name="schoolDay" id="schoolDay" required>

                <datalist id="days">
                    <option value="Monday">
                    <option value="Tuesday">
                    <option value="Wednesday">
                    <option value="Thursday">
                    <option value="Friday">
                </datalist>
                <br><br>
                <input type="submit" value="Submit">
                <br>
                
            
            </form>
        </div>
    </div>
</div>

</body>
</html>
