<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Students</title>
    <link rel="stylesheet" href="css/TopStudents.css">
</head>
<body>
    <div class="Header">
        <h1>TOP STUDENTS</h1>
    </div>
</body>
<body>
    <div class="section Science">
        <h3>Science</h3>
        <table>
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name and Surname</th>
                    <th>Group</th>
                    <th>Average Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td><p th:text="${Username}"></p></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="section Mathematics">
        <h3>Mathematics</h3>
        <table>
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name and Surname</th>
                    <th>Group</th>
                    <th>Average Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td><p th:text="${Username}"></p></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="section History">
        <h3>History</h3>
        <table>
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name and Surname</th>
                    <th>Group</th>
                    <th>Average Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td><p th:text="${Username}"></p></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section Languages">
        <h3>English</h3>
        <table>
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name and Surname</th>
                    <th>Group</th>
                    <th>Average Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td><p th:text="${Username}"></p></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section Sport">
        <h3>Sport</h3>
        <table>
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name and Surname</th>
                    <th>Group</th>
                    <th>Average Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td><p th:text="${fullName}"></p></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section Computer science">
        <h3>Computer Science</h3>
        <table>
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name and Surname</th>
                    <th>Group</th>
                    <th>Average Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td><p th:text="${fullName}"></p></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
