<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MācībuVide</title>
    <link rel="stylesheet" href="css/TopStudents.css">
</head>
<body>
    <div class="Header">
        <h1>TOP STUDENTS</h1>
    </div>
</body>
<body>
    <div class="section Science">
        <h3>Science</h3>
        <table>
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name and Surname</th>
                    <th>Group</th>
                    <th>Average Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td th:text="${fullName1}"></td>
                    <td th:text="${group1}"></td>
                    <td th:text="${grade1}"></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td th:text="${fullName2}"></td>
                    <td th:text="${group2}"></td>
                    <td th:text="${grade2}"></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td th:text="${fullName3}"></td>
                    <td th:text="${group3}"></td>
                    <td th:text="${grade3}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="section Mathematics">
        <h3>Mathematics</h3>
        <table>
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name and Surname</th>
                    <th>Group</th>
                    <th>Average Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td th:text="${mathFullName1}"></td>
                    <td th:text="${mathGroup1}"></td>
                    <td th:text="${mathGrade1}"></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td th:text="${mathFullName2}"></td>
                    <td th:text="${mathGroup2}"></td>
                    <td th:text="${mathGrade2}"></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td th:text="${mathFullName3}"></td>
                    <td th:text="${mathGroup3}"></td>
                    <td th:text="${mathGrade3}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="section History">
        <h3>History</h3>
        <table>
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name and Surname</th>
                    <th>Group</th>
                    <th>Average Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td th:text="${historyFullName1}"></td>
                    <td th:text="${historyGroup1}"></td>
                    <td th:text="${historyGrade1}"></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td th:text="${historyFullName2}"></td>
                    <td th:text="${historyGroup2}"></td>
                    <td th:text="${historyGrade2}"></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td th:text="${historyFullName3}"></td>
                    <td th:text="${historyGroup3}"></td>
                    <td th:text="${historyGrade3}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section Languages">
        <h3>English</h3>
        <table>
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name and Surname</th>
                    <th>Group</th>
                    <th>Average Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td th:text="${englishFullName1}"></td>
                    <td th:text="${englishGroup1}"></td>
                    <td th:text="${englishGrade1}"></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td th:text="${englishFullName2}"></td>
                    <td th:text="${englishGroup2}"></td>
                    <td th:text="${englishGrade2}"></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td th:text="${englishFullName3}"></td>
                    <td th:text="${englishGroup3}"></td>
                    <td th:text="${englishGrade3}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section Sport">
        <h3>Sport</h3>
        <table>
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name and Surname</th>
                    <th>Group</th>
                    <th>Average Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td th:text="${sportFullName1}"></td>
                    <td th:text="${sportGroup1}"></td>
                    <td th:text="${sportGrade1}"></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td th:text="${sportFullName2}"></td>
                    <td th:text="${sportGroup2}"></td>
                    <td th:text="${sportGrade2}"></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td th:text="${sportFullName3}"></td>
                    <td th:text="${sportGroup3}"></td>
                    <td th:text="${sportGrade3}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="section Computer science">
        <h3>Computer Science</h3>
        <table>
            <thead>
                <tr>
                    <th>Place</th>
                    <th>Name and Surname</th>
                    <th>Group</th>
                    <th>Average Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td th:text="${computerFullName1}"></td>
                    <td th:text="${computerGroup1}"></td>
                    <td th:text="${computerGrade1}"></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td th:text="${computerFullName2}"></td>
                    <td th:text="${computerGroup2}"></td>
                    <td th:text="${computerGrade2}"></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td th:text="${computerFullName3}"></td>
                    <td th:text="${computerGroup3}"></td>
                    <td th:text="${computerGrade3}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
