<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/UserProfile.css">
    <title>User Profile</title>
</head>
<body>
    <div class="container">
        <div class="main">
            <form class="topbar">
                <a href="/logout" a>Logout</a>
                <a href="/support">Support</a>
                <a href="/lessons">Lessons</a>
                <a href="#">Grades</a>
                <a href="/profile" class="active">Profile</a>
            </form>
            <div class="row">
                <div class="col-md-4 mt-1">
                    <div class="card text-center sidebar">
                        <div class="card-body">
                            <img src="/images/user2.png" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h3><span class="username"><p th:text="${username}"></p></span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mt-1">
                    <div class="card mb-3 content">
                        <h1 class="m-3 pt-3">About</h1>
                        <div class="details">
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Full Name</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    <p class="fullName"><p th:text="${fullName}"></p></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Email</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    <p class="email"><p th:text="${Email}"></p></p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5>Phone</h5>
                                </div>
                                <div class="col-md-9 text-secondary">
                                    <p class="phone"><p th:text="${numurs}"></p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<body> 
    <style>
        body 
        {
            background-image: url('/images/background.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</body>
</html>
